@keyframes growInTop {
  0% {
    max-height: 0vh;
  }
  80% {
    max-height: 80vh;
  }
  100% {
    max-height: 90vh;
    height: initial;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
