@import "colors";
html {
  font-size: 16px;
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#app {
  height: 100vh;
}


$radius: 8px;
$radius-small: 4px;
$radius-large: 12px;
$radius-rounded: 9999px;
