$blue:#41a6c5;
$green: #64c541;
$orange: #ffa74e;
$black: #112e37;
$red: #C56041;
$yellow: #ffca4e;
$gray: #8B8B8B;

$primary: $blue;
$info: lighten($blue, 20%);
$success: $green;
$danger: $red;
$warning: $yellow;

$gray-lightest: lighten($gray, 40%);
$gray-light: lighten($gray, 20%);
$gray-dark: darken($gray, 10%);

$white: $gray-lightest;

$link: $primary;

$body-background-color: $gray-lightest;
