$blue:#41a6c5;
$green: #41c560;
$orange: #ffa74e;
$black: #2f3031;
$red: #ff664e;
$yellow: #ffca4e;
$gray: #4c6375;
$white: #FDFDF0;

$primary: $blue;
$info: lighten($blue, 20%);
$success: $green;
$danger: $red;
$warning: $yellow;

$gray-lightest: lighten($gray, 58%);
$gray-light: lighten($gray, 30%);
$gray-dark: darken($gray, 15%);

$link: $primary;

$body-background-color: $gray-lightest;
