@import "colors";
@import "typography";
@import "variables";
// Tabs
$tabs-border-bottom-color: $primary;
$tabs-link-active-border-bottom-color: $primary;
$tabs-link-active-color: $black;
$tabs-boxed-link-active-border-color: $primary;
$tabs-boxed-link-hover-border-bottom-color: $primary;


.tooltip {
  position: relative;
  z-index: 1;
  &:hover {
    &::before, &::after {
      opacity: 1;
      display: inline-block;
    }
  }

  &:before {
    transition: all 0.1s ease-in-out;
    padding: .25rem .5rem;
    content: attr(data-tooltip);
    position: absolute;
    z-index: 9;
    inline-size: max-content;
    border-radius: $radius;
    background: $black;
    color: $white;
    font-size: 1rem;
    font-family: $family-sans-serif !important;
    text-align: center;
    display: hidden;
    opacity: 0;
  }

  &--top {
    &:before {
      bottom: 100%;
      margin: 0 0 .25rem 0;
      transform: translateY(75%);
    }
    &:hover::before {
      transform: translateY(0);
    }
  }

  &--bottom {
    &:before {
      top: 100%;
      margin: 0.25rem 0 0 0;
      transform: translateY(-75%);
    }
    &:hover::before {
      transform: translateY(0);
    }
  }

  &--left {
    &:before {
      right: 100%;
      margin: 0 0.25rem 0 auto;
      transform: translateX(75%);
    }
    &:hover::before {
      transform: translateX(0);
    }
  }

  &--right {
    &:before {
      left: 100%;
      margin: 0 0 0 0.25rem;
      transform: translateX(-75%);
    }
    &:hover::before {
      transform: translateX(0);
    }
  }


}
