@import "colors";
@import "typography";
// Tabs
$tabs-border-bottom-color: $primary;
$tabs-link-active-border-bottom-color: $primary;
$tabs-link-active-color: $black;
$tabs-boxed-link-active-border-color: $primary;
$tabs-boxed-link-hover-border-bottom-color: $primary;


.tooltip {
  position: relative;
  z-index: 1;
  &:hover {
    &::before, &::after {
      opacity: 1;
      display: inline-block;
    }
  }

  &:before {
    transition: all 0.1s ease-in-out;
    padding: .25rem .5rem;
    content: attr(data-tooltip);
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 100%;
    margin-left: .75rem;
    inline-size: max-content;
    border-radius: 8px;
    background: $black;
    color: $white;
    font-size: 1rem;
    font-family: $family-sans-serif !important;
    text-align: center;
    display: hidden;
    opacity: 0;
  }

  &--top {
    &:before {
      top: initial;
      left: initial;
      right: initial;
      left: 0;
      transform: translateY(0);
      margin-bottom: .75rem;
    }
    &:hover::before {
      transform: translateY(-100%);
    }
  }

  &--bottom {
    &:before {
      left: initial;
      right: initial;
      transform: translateY(0);
    }
    &:hover::before {
      transform: translateY(75%);
    }
  }

  &--left {
    &:before {
      left: initial;
      margin: initial;
      top: 3px;
      transform: translateX(0);
      margin-right: .75rem;
    }
    &:hover::before {
      transform: translateX(-100%);
    }
  }

  &--right {
    &:before {
      top: 3px;
      transform: translateX(-100%);
    }
    &:hover::before {
      transform: translateX(-8px);
    }
  }


}
