$tx-gutter--block: 1.5rem;
$tx-gutter--content: .5rem;
$tx-breakpoint--mobile: 800px;
$tx-breakpoint--tablet: 1279px;
$tx-breakpoint--desktop: 1280px;
$tx-breakpoint--giant: 1400px;
$tx-drop-shadow: 0 0.5em 1em -0.125em rgb(14 37 44 / 10%), 0 0px 0 1px rgb(14 37 44 / 2%);

$radius: 8px;
$radius-small: 4px;
$radius-large: 12px;
$radius-rounded: 9999px;
