@import "../../node_modules/sweetalert2/src/sweetalert2.scss";

@import 'variables';
@import 'colors';
@import 'typography';
@import 'components';

$bp-desktop: 1024px;
$bp-tablet: 900px;
$bp-mobile: 768px;

@import '../../node_modules/bulma/bulma.sass';
